#home {
  .banner {
    height: 90vh;
    border: solid 0.5px;
    background-size: cover;
  }
  h2 {
    color: white;
  }
  .prestation {
    height: 100vh;
    h2 {
      color: black;
    }
  }
}
