<form action="http://formspree.io/hunckler.thomas@hotmail.fr" method="post">
  <input type="email" name="_replyto" placeholder="your email">
  <textarea name="body"></textarea>
  <input type="submit" value="Send">
</form>
