---
title: Le Wagon - Middleman
---

<div id="home">
  <h1>Ruppert</h1>
  <h2>Agence Web</h2>

  <div class="container-fluid">
      <div class="prestation col-xs-12">
        <section>
          <h2>Création de site internet</h2>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <p>Obtenez enfin un site qui vous ressemble et qui rempli les fonctions attendus par votre activité.</p>
              <a class="btn btn-primary">En savoir plus</a>
            </div>
            <div class="col-xs-12 col-md-8 text-center">
              <%= image_tag 'computer.png', width: '400' %>
            </div>
        </div>
        </section>
      </div>

      <div class="prestation col-xs-12">
        <section>
          <h2>Référencement</h2>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <p>Rendez votre site visible sur Google et attirer de nouveaux clients grâce à un travail de référencement web approfondi.</p>
              <a class="btn btn-primary">En savoir plus</a>
            </div>
            <div class="col-xs-12 col-md-8 text-center">
              <%= image_tag 'seo.png', width: '350' %>
            </div>
        </div>
        </section>
      </div>

      <div class="prestation col-xs-12">
        <section>
          <h2>Stratégie digitale & marketing</h2>
          <div class="row">
            <div class="col-xs-12 col-md-6 text-center">
              <%= image_tag 'marketing.png', width: '300' %>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>Tout développement d'une entreprise débute avec une stratégie marketing solide. L'évolution de la société avec l'intégration du numérique oblige désormais toute entreprise à ne plus négliger l'immense potentiel que propose internet.</p>
              <a class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </section>
      </div>

      <div class="prestation col-xs-12">
        <h2>Réseaux sociaux</h2>
        <form action="http://formspree.io/you@email.com" method="post">
          <input type="email" name="_replyto">
          <textarea name="body"></textarea>
          <input type="submit" value="Send">
        </form>
      </div>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>

</div>
