---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="container">
    <div class="row">
      <div class="prestation presentation col-xs-12", style="background-image: url('images/home-accueil.jpg');">
        <p>
          Bonjour!
        </p>
        <p class="about">
          <%= link_to "More about this template", "about.html" %>
        </p>
      </div>

      <div class="prestation site-internet col-xs-12">
        <h2>Création de site internet</h2>
        <p>En savoir en plus</p>
      </div>
      <div class="prestation referencement col-xs-12">
        <h2>Prestation en référencement</h2>
        <p>En savoir en plus</p>
      </div>

      <div class="prestation strategie col-xs-12">
        <h2>Stratégie digitale et marketing</h2>
        <p>En savoir en plus</p>
      </div>

      <div class="prestation reseaux-sociaux col-xs-12">
        <h2>Stratégie digitale et marketing</h2>
        <p>En savoir en plus</p>
      </div>

    </div>
  </div>
</div>
