---
title: Le Wagon - Middleman
---

<div id="home">

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/home-accueil.jpg');">
    <div class="banner-content">
      <h2>Création de site internet</h2>
      <p>Learn to code with us in Berlin</p>
      <a class="btn btn-primary btn-lg">En savoir plus</a>
    </div>
  </div>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/home-accueil.jpg');">
    <div class="banner-content">
      <h2>Prestation en référencement</h2>
      <p>Learn to code with us in Berlin</p>
      <a class="btn btn-primary btn-lg">En savoir plus</a>
    </div>
  </div>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/home-accueil.jpg');">
    <div class="banner-content">
      <h2>Stratégie digitale et marketing</h2>
      <p>Learn to code with us in Berlin</p>
      <a class="btn btn-primary btn-lg">En savoir plus</a>
    </div>
  </div>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/home-accueil.jpg');">
    <div class="banner-content">
      <h2>Réseaux Sociaux</h2>
      <p>Learn to code with us in Berlin</p>
      <a class="btn btn-primary btn-lg">En savoir plus</a>
    </div>
  </div>

</div>
